<app-overlay>
    <ng-container class="content">
      <h1>Log In</h1>
      <p data-aos="fade-up" data-aos-delay="100">
        Handcrafted free templates by
        <a href="https://free-template.co/" target="_blank">Free-Template.co</a>
      </p>
    </ng-container>
  </app-overlay>
  
  <div class="site-section bg-light">
    <div class="container">
      <div class="row d-flex justify-content-around">
        <div class="col-md-6 mb-5">
          <form action="#" class="p-5 bg-white" style="margin-top: -30vh">
            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="email">Email</label>
                <input type="email" id="email2" class="form-control" />
              </div>
            </div>
  
            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="pass1">Password</label>
                <input type="password" id="pass3" class="form-control" />
              </div>
            </div>
  
            <div class="row form-group align-items-center justify-content-between ">
                <div class="col-md-4">
                  <input
                    type="submit"
                    value="Log In"
                    class="btn btn-primary btn-lg text-white"
                  />
                </div>
    
                <div class="col-md-8 ">
                    Don’t have an account?
                  <a
                    routerLink="/signup"
                    class=" link-secondary"
                  > Sign Up now</a> 
                </div>
                
                
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
 
  