<app-overlay>
    <ng-container class="content">
        <h1>Contact us</h1>
        <p data-aos="fade-up" data-aos-delay="100">Handcrafted free templates by <a href="https://free-template.co/" target="_blank">Free-Template.co</a></p>
    </ng-container>
    </app-overlay>

    <div class="site-section bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-7 mb-5"  data-aos="fade">
              <form action="#" class="p-5 bg-white" style="margin-top: -30vh;" #message="ngForm" (ngSubmit)="onproduct(message.value) " >
               
  
                <div class="row form-group">
                  <div class="col-md-6 mb-3 mb-md-0">
                    <label class="text-black" for="name">name</label>
                    <input type="text" name="name" id="name" class="form-control" ngModel>
                  </div>
                  <div class="col-md-6">
                    <label class="text-black" for="slug">slug</label>
                    <input type="text" name="slug" id="slug" class="form-control" ngModel>
                  </div>
                </div>
  
                <div class="row form-group">
                  
                  <div class="col-md-12">
                    <label class="text-black" for="price">price</label> 
                    <input type="text" name="price" id="price" class="form-control" ngModel>
                  </div>
                </div>
  
                <div class="row form-group">
                  
                  <div class="col-md-12">
                    <label class="text-black" for="description">description</label> 
                    <input type="description" name="description" id="description" class="form-control" ngModel>
                  </div>
                </div>
  
                <div class="row form-group">
                  <div class="col-md-12">
                    <button class="btn btn-primary" type="submit"> Send Post </button>                  
                  </div>
                </div>
  
    
              </form>
            </div>
            
          </div>
        </div>
      </div>